@model KGUWiki.Models.UniversityEmployee

@{
    ViewData["Title"] = "Подробная информация о записи в таблице \"Сотрудники\"";
}

<a class="btn btn-outline-secondary m-2" asp-action="Index" asp-controller="UniversityEmployees">🡸Вернуться к таблице</a>
<div class="mx-auto w-75 m-3 text-center">
    <h2 class="text-center mb-3">Подробная информация о сотруднике</h2>
    <hr />
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Photo)</b>
    </p>
    <img src="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Photo))" width="20%">

    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Id):</b> @Html.DisplayFor(model => model.Id)
    </p>
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.FullName):</b> @Html.DisplayFor(model => model.FullName)
    </p>
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Position):</b> @Html.DisplayFor(model => model.Position)
    </p>
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)
    </p>
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.PhoneNumber):</b> @Html.DisplayFor(model => model.PhoneNumber)
    </p>
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Description):</b>
        <textarea readonly style="border: none">@Model.Description</textarea>
    </p>
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Department.FullName):</b> @Html.DisplayFor(model => model.Department.FullName)
    </p>
    <p class="m-1 detail">
        <b>@Html.DisplayNameFor(model => model.Department.Faculty.FullName):</b> @Html.DisplayFor(model => model.Department.Faculty.FullName)
    </p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger m-1" />
    </form>
</div>