@model IEnumerable<UniversityEmployee>
@{
    ViewBag.Title = "Таблица \"Сотрудники\"";
}

<a class="btn btn-outline-secondary m-2" asp-action="Index" asp-controller="Admin">🡸Вернуться к странице администратора</a>
<div>
    <a class="btn btn-dark mb-1 float-right" asp-action="Create">Добавить запись</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Department.ShortName)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Department.Faculty.ShortName)
                </th>
                <th scope="col" class="text-center">Подробнее/Изменить/Удалить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="col" class="text-center">
                        @Html.DisplayFor(modelItem => item.Id)
                    </th>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td class="text-center">
                        <img style='width:80px; height:60px;' src="data:image/jpeg;base64, @(Convert.ToBase64String(item.Photo))">
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td class="text-center">
                        <textarea readonly style="border: none;">@item.Description</textarea>
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Department.FullName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Department.Faculty.ShortName)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-outline-secondary btn-sm m-1" asp-controller="UniversityEmployees" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                        <a class="btn btn-outline-secondary btn-sm m-1" asp-controller="UniversityEmployees" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <a class="btn btn-outline-secondary btn-sm m-1" asp-controller="UniversityEmployees" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>