@model KGUWiki.Models.User
@{
    ViewData["Title"] = "Редактирование записи в таблице \"Пользователи\"";
}

<a class="btn btn-outline-secondary m-2" asp-action="Index" asp-controller="Users">🡸Вернуться к таблице</a>
<div class="mx-auto w-50 m-3">
    <h2 class="text-center mb-3">Редактирование информации о пользователе</h2>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span asp-validation-for="Name" class="text-danger"></span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Name)</span>
            </div>
            <input asp-for="Name" class="form-control" value="@Model.Name" />
        </div>

        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Email)</span>
            </div>
            <input asp-for="Email" class="form-control" value="@Model.Email" readonly />
        </div>

        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Password)</span>
            </div>
            <input asp-for="Password" class="form-control" value="@Model.Password" readonly />
        </div>

        <span asp-validation-for="Role.Name" class="text-danger"></span>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Html.DisplayNameFor(model => model.Role.Name)</span>
            </div>
            @Html.DropDownListFor(Model => Model.RoleId, ViewBag.Roles as SelectList, new { @class = "dropdown" })
        </div>

        <div class="form-group">
            <input type="submit" value="Изменить" class="btn btn-success float-right" />
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}