@model List<UniversityEmployee>
@{
    ViewData["Title"] = "Home Page";
}


<form method="GET" asp-action="Index" class="border border-dark p-2">
    <h5>Фильтрация</h5>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">ФИО</span>
        </div>
        <input name="fullname" class="form-control" />
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Факультет</span>
        </div>
        @Html.DropDownList("facultyId", ViewBag.Faculties as SelectList, "При необходимости выберите факультет", new { id = "faculty", @class = "form-control" })
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Кафедра</span>
        </div>
        @Html.DropDownList("departmentId", ViewBag.Departments as SelectList, "При необходимости выберите кафедру", new { id = "department", @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-secondary">Отфильтровать</button>
</form>
<div class="row">
    @foreach (var employee in Model)
    {
        <div class="card m-1 p-1 mx-auto" style="width: 15rem;">
            <img class="card-img-top mx-auto d-block" style="width: 14rem; height: 14rem; object-fit:cover" src="data:image/jpeg;base64, @(Convert.ToBase64String(employee.Photo))">
            <div class="card-body">
                <h5 class="card-title">@employee.FullName</h5>
                <p class="card-text">@employee.Position</p>
                <a asp-controller="Home" asp-action="Info" asp-route-id=@employee.Id class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
    }
</div>

@if (Model.Count == 0)
{
    <div class="text-center">
        <p>Сотрудники не найдены</p>
    </div>
}
